:root {
  --bg: #181818;
  --text: #ffffff;
  --primary: #3f3f3f;
  --secondary: #d34049;
}

*,
*::after,
*::before {
  -webkit-user-select: text;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--bg);
}

/* side nav bar */

#side-nav-bar {
  display: none;
}

.sidenav {
  display: none;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

header a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.space {
  height: 10vw;
}

.text {
  color: var(--text);
  transition: all 0.5s;
}

.scale {
  transition: all 0.5s;
  transform: scale(1, 1);
}
.scale:hover {
  transition: all 0.5s;
  transform: scale(1.3, 1.3);
}

.gray:hover {
  color: var(--primary);
  transition: all 0.5s;
}
.red:hover {
  color: var(--secondary);
  transition: all 0.5s;
}

.bh {
  color: var(--secondary);
}

.bold {
  font-weight: bold;
}

.image {
  width: 100%;
}

.logo {
  margin: 0 auto;
}

.logo:hover {
  cursor: default;
}

span {
  display: inline-block;
  font-size: 8vw;
}
.logo span {
  text-transform: uppercase;
  margin: 15px;
}

.logo h1 {
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
}

.main .graphic {
  margin: auto;
  padding: 0 25%;
}

.about-us {
  display: grid;
  grid-template-columns: 50% 50%;
}

.center {
  margin: auto;
}

.about-us .graphic {
  padding: 10%;
}

.services {
  display: grid;
  width: 100%;
}

.services span {
  margin-left: 10vw;
}

.services-container {
  margin: 2vw 10vw 10vw 10vw;
}

.services-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  grid-gap: 10vw;
}

.services-grid .image {
  width: 15vw;
}

.services-dots {
  position: absolute;
  margin: 10vw;
  z-index: -1;
}

.our-team {
  display: grid;
}
.our-team .title {
  margin-bottom: 2vw;
}

.our-team h1 {
  text-align: center;
}

.our-team h2 {
  text-align: start;
  margin: auto 1vw;
}
.our-team h2 span {
  font-size: 2vw;
  color: var(--text);
}

.our-team img {
  display: block;
  border-radius: 100px;
  margin: 0 auto;
  width: 10vw;
}

.team-container {
  margin: 2vw 10vw 10vw 10vw;
}

.team-grid {
  display: grid;
  grid-template-columns: auto auto auto;

  justify-content: space-between;
  grid-gap: 5vw;
}

.team-member {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
}

.team-member:hover {
  z-index: 1;
}

.our-projects {
  margin: 0vw 10vw 10vw 10vw;
}

.our-projects .grid {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
}
.our-projects .title {
  margin-bottom: 5vw;
}

.our-projects h1 {
  text-align: center;
}

.our-projects h2 {
  text-align: center;
}
.our-projects h2 span {
  font-size: 1.5vw;
  color: var(--text);
  cursor: pointer;
}

.project-container {
  margin: auto;
  justify-content: center;
  cursor: pointer;
}

.project-container a {
  cursor: pointer;
}
.project-container img {
  margin: 0 auto;
  cursor: pointer;
}

.projects-dots {
  height: 30vw;
  width: auto;
  margin: auto;
}
.projects-dots img {
  margin: 0 auto;
  height: 30vw;
  width: auto;
}

.contact-us {
  margin: 0 10vw;
}

.contact-us .grid {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: space-between;
  grid-gap: 3vw;
}
.contact-us .title {
  margin-bottom: 5vw;
}

.contact-us h1 {
  text-align: center;
}

.contact-us p {
  font-size: 2vw;
}
.contact-us form {
  display: grid;
  grid-template-areas:
    "name email"
    "subject subject"
    "message message"
    "send send";
  grid-gap: 2vw;
  position: relative;
}
.contact-us form input,
textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  width: 100%;
  font-size: 1.5vw;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  height: 4vw;
  color: var(--text);
  padding: 5px;
}

.contact-us .name {
  grid-area: name;
  cursor: text;
}
.contact-us .email {
  grid-area: email;
  cursor: text;
}
.contact-us .subject {
  grid-area: subject;
  cursor: text;
}
.contact-us .message {
  grid-area: message;
  size: 200;
  height: 10vw;
  resize: vertical;
  cursor: text;
}
.contact-us .send {
  grid-area: send;
  background-color: var(--secondary);
  color: var(--bg);
  width: 12vw;
  margin-left: auto;
  bottom: 0.5vw;
  cursor: pointer;
}

.contact-us .send:hover {
  color: var(--text);
  transition: 0.5s;
}

.footer {
  margin: 0 10vw 2vw 10vw;
}

.footer .grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 1vw;
}

.footer img {
  height: 3vw;
  width: auto;
  cursor: pointer;
}

.footer p {
  color: var(--secondary);
  font-size: 2vw;
  margin: auto;
}

/*  .......................... smaller screen .......................... */

@media only screen and (max-width: 600px) {
  .main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: auto;
    grid-gap: 5vw;
    margin-top: 10vw;
    margin-bottom: 20vw;
  }

  .main .logo {
    order: 1;
  }

  .main .graphic {
    order: 2;
    margin-top: 10vw;
  }

  .about-us {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .about-us h1 {
    text-align: center;
  }

  .services {
    margin-bottom: 0vw;
  }

  .services h1 {
    margin: auto;
    text-align: center;
  }

  .services h1 span {
    margin: auto;
    text-align: center;
  }

  .services-grid .image {
    width: 30vw;
  }

  .services-container {
    margin-top: 5vw;
  }

  .services-grid {
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }

  .our-team {
    margin-bottom: 0vw;
  }
  .our-team .title {
    margin-bottom: 0vw;
  }

  .team-container {
    margin-top: 5vw;
  }

  .team-grid {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }

  .team-member {
    margin: 5vw 0;
  }

  .our-team img {
    display: block;
    border-radius: 100px;
    margin: auto;
    width: 25vw;
  }

  .team-member h2 {
    margin: auto 0 auto 8vw;
  }
  .team-member h2 span {
    font-size: 5vw;
  }

  .our-projects .grid {
    grid-template-columns: auto;
    justify-content: space-between;
    grid-gap: 10vw;
  }

  .projects-dots {
    display: none;
  }

  .our-projects h2 span {
    font-size: medium;
    color: var(--text);
  }

  .contact-us form {
    display: grid;
    grid-template-areas:
      "name name"
      "email email"
      "subject subject"
      "message message"
      "send send";
    grid-gap: 2vw;
    position: relative;
  }

  .contact-us p {
    font-size: medium;
  }
  .contact-us form input,
  textarea {
    font-size: medium;
    height: 10vw;
  }

  .contact-us .message {
    height: 30vw;
  }
  .contact-us .send {
    color: var(--text);
    width: 20vw;
    margin-left: auto;
  }

  .footer p {
    font-size: 4vw;
    margin: auto 1vw;
  }

  .nav-bar {
    display: none;
  }

  /* side nav bar */

  #side-nav-bar {
    display: block;
    color: var(--text);
    padding-top: 2vw;
    padding-left: 5vw;
    position: fixed;
    z-index: 1;
  }

  .sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bg);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text);
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
}
